<div class="w3-container">
  <h5>Devices</h5>
  <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white w3-margin-bottom">
    <tr>
      <th class="w3-half">Device</th>
      <th class="w3-right-align">last backuped time</th>
      <!--<th>connected</th>-->
      <th class="w3-right-align">disk usage MB</th>
      <th class="w3-right-align">file count</th>
    </tr>
    <tr *ngFor="let client of clients">
      <td>{{client.hostName}}</td>
      <td class="w3-right-align">{{client.lastBackupTimestamp | date: 'short' }}</td>
      <td class="w3-right-align">{{client.fileStatistics.sizeInMb | number: '0.3-3'}}</td>
      <td class="w3-right-align">{{client.fileStatistics.fileCount}}</td>
    </tr>
  </table>
</div>
