<div class="w3-row-padding w3-margin-bottom">
  <div class="w3-quarter">
    <div class="w3-container w3-amber w3-padding-16">
      <div class="w3-left"><i class="fa fa-laptop w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>{{clientCount | number: 0.0}}</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Backuped Devices</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-brown w3-padding-16">
      <div class="w3-left"><i class="fas fa-chart-pie w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>{{getFreeSpaceHumanReadable()}}</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Free Space</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-blue w3-padding-16">
      <div class="w3-left"><i class="fa fa-database w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>{{getUsedSpaceHumanReadable()}}</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Disk Usage</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-teal w3-padding-16">
      <div class="w3-left"><i class="far fa-file w3-xxxlarge"></i></div>
      <div class="w3-right">
        <h3>{{fileStatistics.fileCount| number: 0.0}}</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Backuped Files</h4>
    </div>
  </div>
</div>
